<h1 style="text-align: center">TRAINING ANGULAR FGA.DTI</h1>
<div style="width: 25%; margin: 0 auto" class="list">
    <button type="button" class="btn btn-primary" routerLink="/bt1">Bài1</button>
    <button type="button" class="btn btn-secondary" routerLink="/bt2">Bài 2</button>
    <button type="button" class="btn btn-success" routerLink="/bt3">Bài 3</button>
    <button type="button" class="btn btn-danger">Bài 4</button>
    <button type="button" class="btn btn-warning">Bài 5</button>
    <button type="button" class="btn btn-info">Bài 6</button>
    <button type="button" class="btn btn-light">Bài 7</button>
    <button type="button" class="btn btn-dark">Bài 8</button>
</div>
  <router-outlet></router-outlet>